package home

import "github.com/danilovict2/shazam-clone/templates"

templ Hello() {
	@templates.Base() {
		<h1>Tap to listen</h1>
		<button class="listen-button" id="listen-button">
			<h2>Listen</h2>
		</button>

		<form method="POST" action="/api/add_song" class="add-song-form">
			<p>Add new songs</p>
			<input type="text" name="url" placeholder="https://open.spotify.com/..."/>
			<button class="send-button" type="submit">Send</button>
		</form>
	}
}
