package templates

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Shazam</title>
			<link rel="stylesheet" href="/public/index.css"/>
		</head>
		<body>
			{ children... }
			<script src="/public/build.js"></script>
		</body>
	</html>
}
